{% extends 'base.html.twig' %}

{% block title %}Modifier {{ medium.name }}{% endblock %}

{% block body %}
<div class="form-wrapper">
    <a href="{{ path('app_media_show', {'id': medium.id}) }}" class="detail-back">Retour</a>
    <div class="form-card">
        <h1 class="form-card__title">Modifier le média</h1>
        {{ include('media/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <div class="form-card__footer">
            {{ include('media/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
