{% extends 'base.html.twig' %}

{% block title %}Nouveau genre{% endblock %}

{% block body %}
<div class="form-wrapper">
    <a href="{{ path('app_genre_index') }}" class="detail-back">Retour aux genres</a>
    <div class="form-card">
        <h1 class="form-card__title">Créer un genre</h1>
        {{ include('genre/_form.html.twig') }}
    </div>
</div>
{% endblock %}
